:root {
  --body-background-color: #ededed;
  --color-primary: #000;
  --color-black: #171717;
  --font-family-default: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-size-default: 20px;
  --page-max-width: 768px;
  --border-radius: 1.5rem;
  --line: 1px solid rgba(0,0,0,0.1);
}

* {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: 'Helvetica', sans-serif;
  color: var(--color-black);
  background-color: var(--body-background-color);
  text-align: left;
  font-size: var(--font-size-default);
  margin: 0;
  padding: 1rem;
}

header,
h1 {
  font-family: 'Grey Qo', sans-serif;
  margin-top: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h2,
h3,
h4 {
  margin-bottom: 1rem;
  margin-top: 0;
  font-family: var(--font-family-default);
}

h1 {
  font-size: 2rem;
  margin: 2rem 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

main {
  max-width: var(--page-max-width);
  margin: 1rem auto;
}

header {
  font-size: 2.5rem;
  margin: 1rem 0;
}

section {
  padding: 3rem 0;
  border-bottom: var(--line);

  @media (max-width: 768px) {
    padding: 1rem 0;
  }
}

img {
  max-width: 100%;
  border-radius: var(--border-radius);
  margin: 0.1rem 0;
}

footer {
    margin: 0 auto;
    max-width: var(--page-max-width);
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 1rem;

    @media (max-width: 768px) {
        flex-flow: column nowrap;
    }
}